$def with ()

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/blaze.min.css">
    <link rel="stylesheet" href="/static/main.css"></head>
<body>

    <ul class="c-nav c-nav--light c-nav--inline">
      <li class="c-nav__item"><a href="/home
  "><img src="/static/logo.png" style="height:40px; margin-top:8px
  "></a></li>
      <li class="c-nav__item c-nav__item--right"><a href="/register">Register</a></li>
    </ul>

    <div class="o-container o-container--medium">
        <form method="post" action="/login">
            <label class="c-label">
              Username:
              <input name="username" type="text" class="c-field c-field--label">
              <div class="c-hint"></div>
            </label>
            <label class="c-label">
              Password:
              <input name="password" type="password" class="c-field c-field--label">
              <div class="c-hint"></div>
            </label>
            <input class="c-button" type="submit" value="login">
        </form>
        
    </div>
</body>
</html>