$def with (session,tweets)

<!DOCTYPE html>
<html>
<head>
    <title>Timeline</title>
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/blaze.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

  <ul class="c-nav c-nav--light c-nav--inline">
    <li class="c-nav__item"><a href="/home
  "><img src="/static/logo.png" style="height:40px; margin-top:8px
  "></a></li>
    <li class="c-nav__item c-nav__item--right"><a href="/logout">Logout</a></li>
    <li class="c-nav__item c-nav__item--right"><a href="/users/$session.username">Me</a></li>
    <li class="c-nav__item c-nav__item--right"><a href="/timeline">Timeline</a></li>
    <li class="c-nav__item c-nav__item--right"><a href="/followers">Followers</a></li>
    <li class="c-nav__item c-nav__item--right"><a href="/users/_">Users</a></li>
    <li class="c-nav__item c-nav__item--right"><a href="/following">Following</a></li>
  </ul>


  <div class="o-container o-container--medium">


    <form method="post" action="/timeline">
      <label class="c-label">
        Tweet:
        <textarea name="content" class="c-field c-field--label"></textarea>
      </label>
      <input class="c-button c-button--brand" type="submit" value="Tweet">
    </form>

    <hr />

    $for i in tweets:

      <div class="c-card">
        <div class="c-card__item">
          <p class="c-paragraph">$i.content</p>
          <b><a href="/users/$i.user.username">@$i.user.username</a></b>
          <form method="post" action="/timeline">
              <input value="$i.content" name="content" type="hidden" class="c-field c-field--label">
              <input class="c-button c-button--info" type="submit" value="Retweet">
          </form>
        </div>
      </div>

  </div>
</body>
</html>