$def with (session, user, tweets)

<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/blaze.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
  <ul class="c-nav c-nav--light c-nav--inline">
    <li class="c-nav__item"><a href="/home">Home</a></li>
    <li class="c-nav__item c-nav__item--right"><a href="/logout">Logout</a></li>
    <li class="c-nav__item c-nav__item--right"><a href="/users/$session.username">Me</a></li>
    <li class="c-nav__item c-nav__item--right"><a href="/timeline">Timeline</a></li>
    <li class="c-nav__item c-nav__item--right"><a href="/users/_">Users</a></li>
    <li class="c-nav__item c-nav__item--right"><a href="/followers">Following</a></li>
  </ul>
  <div style="margin-top: 20px;" class="o-container o-container--medium">

                  <div class="c-card">
                    <div class="c-card__item c-card__item--brand">$user.username</div>
                    <div class="c-card__item c-card__item--success">
                      <p class="c-paragraph">$user.email</p>
                    </div>
                  </div>
                  <br>
                  <a href="/relation/$user.username/follow" class="c-button">Follow</a>

          <hr>

          $for i in tweets:
                  <div class="c-card">
                    <div class="c-card__item">
                      <p class="c-paragraph">$i.content</p>
                      <b>@$i.user.username</b>
                      <form method="post" action="/timeline">
                          <input value="$i.content" name="content" type="hidden" class="c-field c-field--label">
                          <input class="c-button c-button--info" type="submit" value="Retweet">
                      </form>
                    </div>
                  </div>
    </div>

</body>
</html>