$def with (tweets)

<!DOCTYPE html>
<html>
<head>
    <title>Timeline</title>
    <link rel="stylesheet" href="/static/blaze.min.css">
</head>
<body>

    <ul class="c-nav c-nav--inline u-highest">
      <span class="c-nav__item"><i class="fa fa-home"></i> Home</span>
      <span class="c-nav__item"><i class="fa fa-star"></i> News</span>
      <span class="c-nav__item c-nav__item--right"><i class="fa fa-user"></i> Contact</span>
    </ul>

    <div class="c-card">
  <div class="c-card__item c-card__item--brand">Header</div>
  <div class="c-card__item c-card__item--info">
    <p class="c-paragraph"></p>
    <p class="c-paragraph"</p>
  </div>
  <div class="c-card__item c-card__item--warning">Divider</div>
  <div class="c-card__item c-card__item--success">
    <p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
    <p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
  </div>
  <div class="c-card__item c-card__item--error">Footer</div>
</div>

</body>
</html>