
<!DOCTYPE html>
<html>
<head>
    <title>Timeline</title>
    <link rel="stylesheet" href="blaze.min.css">
</head>
<body>

  <ul class="c-nav c-nav--inline u-highest">
          <span class="c-nav__item"><i class="fa fa-home"></i> Home</span>
          <span class="c-nav__item c-nav__item--right"><i class="fa fa-user"></i>Logout</span>
  </ul>
  <div class="o-container o-container--medium">
      <div class="c-card">
        <header class="c-card__header">
        <h2 class="c-heading">
          Heading
        </h2>
        </header>
        <div class="c-card__body">
          <p class="c-paragraph">Lorem  corpora ex eam. Inciderint eloquentiam sea et.</p>
        </div>
        <input class="c-button" type="submit" value="Tweet" style = "margin-left: 300px">
      </div>
  </div>
</body>
</html>