
<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <link rel="stylesheet" href="blaze.min.css">
</head>
<body>

  <ul class="c-nav c-nav--inline u-highest">
          <span class="c-nav__item"><i class="fa fa-home"></i> Home</span>
          <span class="c-nav__item c-nav__item--right"><i class="fa fa-user"></i>Logout</span>
  </ul>
  <div class="o-container o-container--medium">
      <div class="c-card">
        <img class="o-image" src="http://lorempixel.com/200/200/">
        <header class="c-card__header">
          <h2 class="c-heading">Heading</h2>
        </header>
        <div class="c-card__body">
          <p class="c-paragraph">email</p>
        </div>
        <input class="c-button" type="submit" value="Follow">
      

               <div class="o-grid o-grid--demo">
  <div class="o-grid__cell">
    <div class="o-grid">
      <div class="o-grid__cell">
          <img class="o-image" src="http://lorempixel.com/200/200/">
      </div>
      <div class="o-grid__cell">
        <header class="c-card__header">
          <h2 class="c-heading">Heading</h2>
        </header>
        <p>lkjljl</p>
      </div>
    </div>
    <div class="o-grid">
      <div class="o-grid__cell">
                  <input class="c-button" type="submit" value="Follow">
      </div>
    </div>
  </div>
</div>







      </div>
  </div>
</body>
</html>